# Important Function

In [227]:
import numpy as np
import pandas as pd

In [228]:
subs = pd.read_csv('subs.csv')
movies = pd.read_csv('movies.csv')
vk = pd.read_csv('kohli_ipl.csv')

In [229]:
subs.head(1)

   Subscribers gained
0                  48

In [230]:
movies.head(1)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)

In [231]:
vk.head(1)

   match_no  runs
0         1     1

# Astype

In [232]:
import sys
sys.getsizeof(vk)

3604

In [233]:
vk.astype('int16')

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]

In [234]:
sys.getsizeof(vk.astype('int16'))

1024

# Between : Ek range k between value exist krti h nhi uski value batayega

In [235]:
vk[vk['runs'].between(51,99)].size

86

# Clip : Values ko range ke between clip kr deta h 100 se chota 100 ,200 se bada 200

In [236]:
subs

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [237]:
subs.clip(100,200)

     Subscribers gained
0                   100
1                   100
2                   100
3                   100
4                   100
..                  ...
360                 200
361                 200
362                 155
363                 144
364                 172

[365 rows x 1 columns]

# Drop_duplicates : Remove duplicates from dataset

In [238]:
temp = pd.Series([1,2,4,5,4,2,1,3,5])
temp

0    1
1    2
2    4
3    5
4    4
5    2
6    1
7    3
8    5
dtype: int64

In [239]:
temp.drop_duplicates()

0    1
1    2
2    4
3    5
7    3
dtype: int64

In [240]:
temp.drop_duplicates(keep='last')

4    4
5    2
6    1
7    3
8    5
dtype: int64

In [241]:
movies.drop_duplicates()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,Tera Mera Saath Rahen,tt0301250,https://upload.wikimedia.org/wikipedia/en/2/2b...,https://en.wikipedia.org/wiki/Tera_Mera_Saath_...,Tera Mera Saath Rahen,Tera Mera Saath Rahen,0,2001,148,Drama,4.9,278,Raj Dixit lives with his younger brother Rahu...,A man is torn between his handicapped brother ...,NaN,Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...,NaN,7 November 2001 (India)
1625,Yeh Zindagi Ka Safar,tt0298607,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...,Yeh Zindagi Ka Safar,Yeh Zindagi Ka Safar,0,2001,146,Drama,3.0,133,Hindi pop-star Sarina Devan lives a wealthy ...,A singer finds out she was adopted when the ed...,NaN,Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...,NaN,16 November 2001 (India)
1626,Sabse Bada Sukh,tt0069204,NaN,https://en.wikipedia.org/wiki/Sabse_Bada_Sukh,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,\N,Comedy|Drama,6.1,13,Village born Lalloo re-locates to Bombay and ...,Village born Lalloo re-locates to Bombay and ...,NaN,Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...,NaN,NaN
1627,Daaka,tt10833860,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Daaka,Daaka,Daaka,0,2019,136,Action,7.4,38,Shinda tries robbing a bank so he can be wealt...,Shinda tries robbing a bank so he can be wealt...,NaN,Gippy Grewal|Zareen Khan|,NaN,1 November 2019 (USA)
1628,Humsafar,tt2403201,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Humsafar,Humsafar,Humsafar,0,2011,35,Drama|Romance,9.0,2968,Sara and Ashar are childhood friends who share...,Ashar and Khirad are forced to get married due...,NaN,Fawad Khan|,NaN,TV Series (2011–2012)

In [242]:
# Tells how many duplicated values are in dataset
temp.duplicated().sum()

4

In [243]:
temp = pd.Series([1,2,np.nan,4,5,np.nan,4,2,1,np.nan,3,5,np.nan])
temp

0     1.0
1     2.0
2     NaN
3     4.0
4     5.0
5     NaN
6     4.0
7     2.0
8     1.0
9     NaN
10    3.0
11    5.0
12    NaN
dtype: float64

In [244]:
temp.size

13

In [245]:
temp.count()

9

# isnull

In [246]:
vk.isnull().sum()

match_no    0
runs        0
dtype: int64

In [247]:
temp.isnull().sum()

4

# dropna

In [248]:
temp.dropna()

0     1.0
1     2.0
3     4.0
4     5.0
6     4.0
7     2.0
8     1.0
10    3.0
11    5.0
dtype: float64

# fillna

In [249]:
temp.fillna(0)

0     1.0
1     2.0
2     0.0
3     4.0
4     5.0
5     0.0
6     4.0
7     2.0
8     1.0
9     0.0
10    3.0
11    5.0
12    0.0
dtype: float64

In [250]:
temp.fillna(temp.mean())

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     3.0
6     4.0
7     2.0
8     1.0
9     3.0
10    3.0
11    5.0
12    3.0
dtype: float64

# isin

In [251]:
vk[(vk == 49) | (vk == 99)]

     match_no  runs
0         NaN   NaN
1         NaN   NaN
2         NaN   NaN
3         NaN   NaN
4         NaN   NaN
..        ...   ...
210       NaN   NaN
211       NaN   NaN
212       NaN   NaN
213       NaN   NaN
214       NaN   NaN

[215 rows x 2 columns]

In [252]:
vk[vk.isin([49,99])]

     match_no  runs
0         NaN   NaN
1         NaN   NaN
2         NaN   NaN
3         NaN   NaN
4         NaN   NaN
..        ...   ...
210       NaN   NaN
211       NaN   NaN
212       NaN   NaN
213       NaN   NaN
214       NaN   NaN

[215 rows x 2 columns]

# apply : Helps in to build custom logic

In [253]:
movies.head(1)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)

In [254]:
# movies.apply(lambda x : x.split()[0]).upper()
# movies.apply(lambda x: x.split())

In [255]:
subs.head(1)

   Subscribers gained
0                  48

In [256]:
subs.mean()

Subscribers gained    135.643836
dtype: float64

In [257]:
subs.apply(lambda x: 'good day' if x > subs.mean() else 'bad day')

ValueError: Can only compare identically-labeled Series objects

In [258]:
import pandas as pd

subs = pd.Series([100, 150, 80, 200, 90])

result = subs.apply(lambda x: 'good day' if x > subs.mean() else 'bad day')

print(result)

0     bad day
1    good day
2     bad day
3    good day
4     bad day
dtype: object

# Copy

In [259]:
vk

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]

In [260]:
vk.head()

   match_no  runs
0         1     1
1         2    23
2         3    13
3         4    12
4         5     1

In [261]:
new = vk.head()
new

   match_no  runs
0         1     1
1         2    23
2         3    13
3         4    12
4         5     1

In [274]:
new[1] = 10

In [275]:
new = vk.head().copy()

In [276]:
new

   match_no  runs
0         1     1
1         2    23
2         3    13
3         4    12
4         5     1

In [273]:
vk

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]